.search h2 {
  margin-bottom: 2em;
}

.search__box input {
  width: 100%;
  font-size: 1.2em;
  padding: 0.5em;
}

.search__loading {
  margin-top: 2em;
}

.search__results {
  margin: 2em 0 0;
  padding: 0;
}
.search__results li {
  list-style: none;
  margin-bottom: 1em;
  border: 1px solid #bbb;
}
.search__results a {
  display: block;
  padding: 0.25em;
  text-decoration: none;
}
.search__results a:hover {
  background: lightskyblue;
}
.search__results p {
  margin: 0;
}
